@import "tailwindcss";
@import "xterm/css/xterm.css";
@theme {
  /* ===========================
     Brand Color
  =========================== */

  --color-primary: #3fbcc3;
  --color-primary-hover: #2f979d;

  --color-secondary: #6b7280;
  --color-secondary-hover: #4b5563;

  /* ===========================
     Text Color
  =========================== */

  --color-text: #4b5563;
  --color-description: #6b7280;

  /* ===========================
     Background
  =========================== */

  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;

  /* ===========================
     Success
  =========================== */

  --color-success: #22c55e;
  --color-success-bg: #dcfce7;
  --color-success-text: #15803d;

  /* ===========================
     Warning
  =========================== */

  --color-warning: #f59e0b;
  --color-warning-bg: #fef3c7;
  --color-warning-text: #b45309;

  /* ===========================
     Error
  =========================== */

  --color-danger: #ef4444;
  --color-danger-bg: #fee2e2;
  --color-danger-text: #b91c1c;

  /* ===========================
     Info
  =========================== */

  --color-info: #3b82f6;
  --color-info-bg: #dbeafe;
  --color-info-text: #1d4ed8;
}
